{% extends 'template/front/base.html.twig' %}

{% import "template/front/components/picture.html.twig" as picture %}

{% block body %}
    <section class="cart">
        <div class="container">
            <form class="cart-form {{ itemCount < 1 ? 'hidden' : '' }}" data-cart-guid="{{ cartGuid }}">
                <div class="left">
                    <div class="items-info wrap">
                        <div class="title">
                            <h1>Корзина</h1>
                            <p class="cart-count"><span class="count">{{ itemCount }}</span> {{ itemCountText }}</p>
                        </div>
                        <div class="cart-items">
                            {% for cartItem in cartItems %}
                                <div class="cart-item">
                                    <a href="{{ cartItem.item.url }}" class="cart-item-image">
                                        {{ picture.render( cartItem.item.mainImage.path, 300, 300, true,  cartItem.item.name) }}
                                    </a>
                                    <div class="cart-item-info">
                                        <a href="{{ cartItem.item.url }}" class="item-name">{{ cartItem.item.name }}</a>
                                        <div class="item-stock">
                                            {% if  cartItem.item.stock > 0 %}
                                                Есть в наличии
                                            {% else %}
                                                Под заказ
                                            {% endif %}
                                        </div>
                                        <button type="button" class="action-remove" data-sku="{{ cartItem.item.sku }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
                                                <path fill="#A9A8B0" fill-rule="evenodd"
                                                      d="M8.806.833h2.387c.21 0 .415 0 .588.014.19.016.415.053.642.168.313.16.568.415.728.728.115.226.152.451.168.642.014.173.014.378.014.588v.36H17.499A.833.833 0 1 1 17.5 5h-.883l-.553 8.835c-.04.632-.072 1.155-.133 1.58-.063.444-.164.849-.378 1.227a3.334 3.334 0 0 1-1.444 1.356c-.39.19-.8.266-1.247.301-.429.034-.953.034-1.586.034H8.724c-.633 0-1.157 0-1.586-.034-.446-.035-.857-.111-1.247-.301a3.334 3.334 0 0 1-1.444-1.357c-.214-.377-.315-.782-.379-1.226-.06-.425-.093-.948-.133-1.58L3.383 5H2.5a.833.833 0 1 1 0-1.667h4.167V2.973c0-.21 0-.415.014-.588.016-.19.052-.416.168-.642.16-.313.414-.568.728-.728.226-.115.451-.152.641-.168a7.65 7.65 0 0 1 .59-.014Zm-.473 2.5h3.333V3a6.781 6.781 0 0 0-.01-.49l-.01-.001a6.823 6.823 0 0 0-.48-.01H8.833a6.821 6.821 0 0 0-.49.01l-.002.011a6.821 6.821 0 0 0-.008.48v.333ZM5.053 5l.544 8.697c.042.674.07 1.13.121 1.483.05.342.11.518.18.64.166.295.418.531.721.679.127.062.306.111.651.139.355.028.812.029 1.487.029h2.485c.674 0 1.132-.001 1.487-.03.344-.027.523-.076.65-.138.304-.148.556-.384.722-.678.07-.123.13-.299.18-.641.05-.352.079-.809.121-1.482L14.946 5H5.053Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="item-qty">
                                        <div class="item-qty-minus {{ cartItem.qty <= 1 ? 'disabled' }}">
                                            <span></span>
                                        </div>

                                        {% include 'template/common/input/_input-text.html.twig' with {
                                            id: 'item-qty-input-' ~ loop.index,
                                            type: 'text',
                                            class: 'item-qty-input',
                                            value: cartItem.qty,
                                            data: {
                                                'sku': cartItem.item.sku,
                                            }
                                        } %}

                                        <div class="item-qty-plus {{ cartItem.qty >= 255 ? 'disabled' }}">
                                            <span></span>
                                        </div>
                                    </div>

                                    <div class="item-price rolling-number">{{ cartItem.totalPrice }} </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="cart-address wrap">
                        <div class="title">
                            <h6>Доставка</h6>
                        </div>

                        <div class="cart-delivery">
                            {% include 'template/common/input/_input-text.html.twig' with {
                                id: 'delivery-city-input',
                                required: true,
                                type: 'text',
                                class: 'delivery-city-input',
                                placeholder: 'Минск',
                                label: 'Город',
                                value: deliveryCity ?? '',
                            } %}

                            {% include 'template/common/input/_input-text.html.twig' with {
                                id: 'delivery-address-input',
                                required: true,
                                type: 'text',
                                class: 'delivery-address-input',
                                placeholder: 'Улица, Дом, Кватира',
                                label: 'Адрес',
                                value: deliveryAddress ?? '',
                            } %}

                            <div class="cart-delivery-methods">
                                {% for method in deliveryMethods %}
                                    {% include 'template/common/input/_input-radio.html.twig' with {
                                        name: 'delivery_method',
                                        value: method.value,
                                        label: method.getLabel() ~ ' — ' ~ method.getPrice() ~ ' р. (' ~ method.getDeliveryTime() ~ ')',
                                        checked: deliveryMethod and method == deliveryMethod
                                    } %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="cart-user-info wrap">
                        <div class="title">
                            <h6>Ваши данные</h6>
                        </div>

                        <div class="cart-user-info">
                            {% set isUser = user is defined and user %}

                            {% include 'template/common/input/_input-text.html.twig' with {
                                id: 'user-info-name',
                                required: true,
                                type: 'text',
                                class: 'user-info-name-input',
                                label: 'Ваше имя',
                                value: isUser ? user.firstName : '',
                                disabled: isUser
                            } %}

                            {% include 'template/common/input/_input-text.html.twig' with {
                                id: 'user-info-email',
                                required: true,
                                type: 'text',
                                class: 'user-info-email-input',
                                label: 'Ваш e-mail',
                                value: isUser ? user.email : '',
                                disabled: isUser
                            } %}

                            {% include 'template/common/input/_input-text.html.twig' with {
                                id: 'user-info-phone',
                                required: true,
                                type: 'text',
                                class: 'user-info-input phone-input',
                                label: 'Ваш телефон',
                                placeholder: '+375297778899',
                                value: isUser ? user.phone : '',
                                disabled: isUser
                            } %}
                        </div>
                    </div>
                </div>

                <div class="right wrap">
                    Итого {{ totalAmount }}
                </div>
            </form>

            <div class="empty-cart {{ itemCount >= 1 ? 'hidden' : '' }}">
                <p class="top-text">В корзине пока пусто</p>
                <p class="bot-text">Загляните на главную — собрали там товары, которые могут вам понравиться</p>
                <a href="/" class="btn"> Перейти на главную </a>
            </div>
        </div>
    </section>
{% endblock %}
