{% extends 'template/front/base.html.twig' %}

{% block body %}
    <section class="catalog">
        <div class="container">
            <ul class="catalog__breadcrumbs">
                {% for breadcrumb in breadcrumbs %}
                    <li class="catalog__breadcrumbs-item">
                        {% if not loop.last %}
                            <a href="{{ breadcrumb.link }}">{{ breadcrumb.text }}</a>
                        {% else %}
                            {{ breadcrumb.text }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <div class="catalog__wrap">
                <div class="catalog__left">
                    {% if filters.subCategories is not empty %}
                        <div class="filter__wrap">
                            <p class="filter-title">Подкатегории</p>
                            <ul class="subcategories__list">
                                {% for subCategory in filters.subCategories %}
                                    <li>
                                        <a href="{{ subCategory.url }}">{{ subCategory.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="filter__wrap">
                        <p class="filter-title">Бренды</p>
                        {% set isExpandable = filters.brands|length > 5 %}
                        <div class="filter-inputs" id="filters-brands">
                            {% for brand in filters.brands %}
                                {% set isHidden = loop.index > 5 %}
                                <div class="{{ isHidden ? 'hidden extra-filter' }}">
                                    {% include 'template/common/input/_checkbox.html.twig' with {
                                        id: 'checkbox-brand-' ~ loop.index,
                                        label: brand.name ~ ' (' ~ brand.count ~ ')',
                                        checked: false
                                    } %}
                                </div>
                            {% endfor %}
                        </div>

                        {% if isExpandable %}
                            <button type="button"
                                    class="show-more-button"
                                    data-target="filters-brands">
                                Показать все
                            </button>
                        {% endif %}
                    </div>

                    {% for attributeName, attributeValues in filters.attributes %}
                        {% set attributeKey = attributeName|lower|replace({' ': '_'}) %}
                        {% set isExpandable = attributeValues|length > 5 %}

                        <div class="filter__wrap">
                            <p class="filter-title">{{ attributeName }}</p>

                            <div class="filter-inputs" id="filters-{{ attributeKey }}">
                                {% for attributeValue, count in attributeValues %}
                                    {% set isHidden = loop.index > 5 %}
                                    <div class="{{ isHidden ? 'hidden extra-filter' }}">
                                        {% include 'template/common/input/_checkbox.html.twig' with {
                                            id: 'checkbox-attribute-' ~ attributeKey ~ '-' ~ loop.index,
                                            label: attributeValue ~ ' (' ~ count ~ ')',
                                            checked: false
                                        } %}
                                    </div>
                                {% endfor %}
                            </div>

                            {% if isExpandable %}
                                <button type="button"
                                        class="show-more-button"
                                        data-target="filters-{{ attributeKey }}">
                                    Показать все
                                </button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="catalog__right">
                    <div class="catalog__right-top">
                        <div class="title">
                            <h1>
                                {{ category.name }}
                            </h1>
                            <span class="catalog__right-items-count"> {{ itemsCount }} </span>
                        </div>

                        <div class="catalog__sort">
                            {% include 'template/common/input/_select.html.twig' with {
                                id: 'sort-select',
                                name: 'sort',
                                options: {
                                    'popular': 'По популярности',
                                    'cheap': 'По возрастанию цены',
                                    'expensive': 'По убыванию цены',
                                    'new': 'По новинкам'
                                },
                                selected: 'popular'
                            } %}
                        </div>
                    </div>



                    <div class="catalog__items">
                        {% for item in items %}
                            <div class="catalog__item">
                                <h2>{{ item.name }}</h2>
                                <!-- Add more item details here if needed -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}