{% extends 'template/front/base.html.twig' %}
{% import "template/front/components/picture.html.twig" as picture %}

{% block body %}
    <section class="item">
        <div class="container">
            {% include 'template/front/components/breadcrumbs.html.twig' with {
                breadcrumbs: item.breadcrumbs,
            } %}

            <div class="item__wrap">
                <div class="item__slider">
                    <div thumbsSlider="" class="swiper swiper-left">
                        <div class="swiper-button-prev">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M7.361.238a.977.977 0 011.278 0l7.097 6.377a.755.755 0 010 1.147.977.977 0 01-1.278 0L8 1.96 1.542 7.762a.977.977 0 01-1.277 0 .755.755 0 010-1.147L7.36.238z"
                                          fill="#000"/>
                                    <rect width="2" height="16" rx="1" transform="matrix(-1 0 0 1 9 0)" fill="#000"/>
                                </svg>
                            </span>
                        </div>
                        <div class="swiper-wrapper">
                            {% for image in item.images %}
                                <div class="swiper-slide">
                                    {{ picture.render(image.path, 300, 300, true, image.fileName) }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-button-next">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M7.361.238a.977.977 0 011.278 0l7.097 6.377a.755.755 0 010 1.147.977.977 0 01-1.278 0L8 1.96 1.542 7.762a.977.977 0 01-1.277 0 .755.755 0 010-1.147L7.36.238z"
                                          fill="#000"/>
                                    <rect width="2" height="16" rx="1" transform="matrix(-1 0 0 1 9 0)" fill="#000"/>
                                </svg>
                            </span>
                        </div>
                    </div>

                    <div class="swiper swiper-main">
                        <div class="swiper-wrapper">
                            {% for image in item.images %}
                                <div class="swiper-slide">
                                    {{ picture.render(image.path, 300, 300, true, image.fileName) }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-counter">1 / 1</div>
                        <div class="swiper-button-next">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M7.361.238a.977.977 0 011.278 0l7.097 6.377a.755.755 0 010 1.147.977.977 0 01-1.278 0L8 1.96 1.542 7.762a.977.977 0 01-1.277 0 .755.755 0 010-1.147L7.36.238z"
                                          fill="#000"/>
                                    <rect width="2" height="16" rx="1" transform="matrix(-1 0 0 1 9 0)" fill="#000"/>
                                </svg>
                            </span>
                        </div>
                        <div class="swiper-button-prev">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                     height="16" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M7.361.238a.977.977 0 011.278 0l7.097 6.377a.755.755 0 010 1.147.977.977 0 01-1.278 0L8 1.96 1.542 7.762a.977.977 0 01-1.277 0 .755.755 0 010-1.147L7.36.238z"
                                          fill="#000"/>
                                    <rect width="2" height="16" rx="1" transform="matrix(-1 0 0 1 9 0)" fill="#000"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="item__data">
                    <h1 class="item-name"> {{ item.name }} </h1>
                    <p class="item-short-description"> {{ item.shorDescription }} </p>
                    <p class="item-price"> {{ item.defaultPrice }} р. </p>

                    <a href="{{ item.brand.url }}" class="item-brand">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
                                <path fill="#B9B9C1"
                                      d="M6.667 5a1.667 1.667 0 1 0 0 3.333h.008a1.667 1.667 0 1 0 0-3.333h-.008Z"
                                      style="fill:#b9b9c1;fill:color(display-p3 .7255 .7255 .7569);fill-opacity:1"/>
                                <path fill="#B9B9C1" fill-rule="evenodd"
                                      d="M10.46 1.713a2.329 2.329 0 0 0-.553-.046H3.807c-.21 0-.415 0-.589.014-.19.015-.415.052-.641.167-.314.16-.569.415-.729.729a1.685 1.685 0 0 0-.167.641c-.014.174-.014.378-.014.589V9.907c0 .158-.001.357.046.553.04.17.108.333.2.482.105.172.246.313.358.424l.03.03 6.18 6.18c.475.475.866.867 1.211 1.16.359.304.721.55 1.153.69.67.218 1.39.218 2.06 0 .432-.14.794-.386 1.153-.69.345-.293.736-.685 1.21-1.16l2.309-2.308c.474-.474.866-.866 1.158-1.21.305-.359.551-.721.691-1.153.218-.67.218-1.39 0-2.06-.14-.432-.386-.794-.69-1.153-.293-.345-.685-.736-1.16-1.21l-6.18-6.18-.03-.03c-.111-.113-.252-.254-.424-.36a1.667 1.667 0 0 0-.481-.2Zm-.596 1.62c.11 0 .164 0 .204.002h.003l.002.002c.03.027.068.066.145.143l6.156 6.156c.505.505.847.848 1.09 1.135.238.28.332.45.377.589.109.335.109.695 0 1.03-.045.14-.139.31-.376.589-.244.287-.586.63-1.091 1.135l-2.26 2.26c-.505.505-.848.847-1.135 1.09-.28.238-.45.332-.589.377a1.667 1.667 0 0 1-1.03 0c-.14-.045-.31-.139-.589-.376-.287-.244-.63-.586-1.135-1.091L3.48 10.218a5.076 5.076 0 0 1-.143-.145l-.002-.003v-.002a5.144 5.144 0 0 1-.002-.204v-6.03c0-.248.001-.383.009-.48v-.011l.012-.001a6.83 6.83 0 0 1 .48-.009h6.03Z"
                                      clip-rule="evenodd"
                                      style="fill:#b9b9c1;fill:color(display-p3 .7255 .7255 .7569);fill-opacity:1"/>
                            </svg>
                        </div>

                        <div class="item-brand-wrap">
                            <span class="name">
                                {{ item.brand.name }}
                            </span>
                            <span class="brand-catalog">
                                В каталог бренда
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none">
                                    <path d="m4.25 9.5 3.39-3.39c.04-.04.06-.06.06-.08a.1.1 0 0 0 0-.06c0-.02-.02-.04-.06-.08L4.25 2.5"
                                          stroke="#A9A8B0" stroke-width="1.3" stroke-linecap="round"/>
                                </svg>
                            </span>
                        </div>
                    </a>
                    <table class="item-attributes">
                        <tbody>
                        <tr>
                            <th>
                                <span class="cell">
                                    <span class="attr-cell">Артикул</span>
                                </span>
                            </th>
                            <td>
                                {{ item.sku }}
                                <svg class="sku-copy" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M4.67 4.67c0-.31 0-.58.02-.81.02-.31.06-.6.18-.88.27-.65.79-1.17 1.44-1.44.28-.12.57-.16.88-.19.3-.02.67-.02 1.12-.02h2.52c.53 0 .98 0 1.34.03.37.03.72.1 1.04.26.5.26.91.67 1.17 1.17.16.32.23.67.26 1.04.03.36.03.8.03 1.34V7.7c0 .45 0 .81-.02 1.12a2.67 2.67 0 0 1-1.63 2.32c-.28.12-.57.16-.88.18-.23.02-.5.02-.8.02l-.04.84c-.03.37-.1.72-.26 1.04-.25.5-.66.91-1.16 1.17-.33.16-.67.23-1.05.26-.36.03-.8.03-1.34.03H5.17c-.53 0-.98 0-1.34-.03-.37-.03-.72-.1-1.04-.26-.5-.26-.91-.67-1.17-1.17a2.73 2.73 0 0 1-.26-1.04c-.03-.36-.03-.8-.03-1.34V8.5c0-.54 0-.98.03-1.34.03-.38.1-.72.26-1.05.26-.5.67-.9 1.17-1.16.32-.17.67-.23 1.04-.26.24-.02.52-.03.84-.03Zm6.13-2c.57 0 .96 0 1.26.02.3.03.44.07.55.12.25.13.45.33.58.58.05.1.1.26.12.55.02.3.02.69.02 1.26v2.47l-.01 1.05c-.02.24-.05.37-.09.46-.13.32-.4.58-.72.72-.09.04-.22.07-.46.08-.19.02-.42.02-.72.02V8.5c0-.53 0-.97-.03-1.33-.03-.38-.1-.72-.26-1.05-.25-.5-.66-.9-1.16-1.16a2.73 2.73 0 0 0-1.05-.26c-.36-.03-.8-.03-1.34-.03H6c0-.3 0-.53.02-.72.01-.24.04-.37.08-.46.14-.33.4-.59.72-.72.1-.04.22-.07.46-.09l1.05-.01h2.47ZM3.4 6.15c.1-.06.25-.1.54-.13C4.24 6 4.63 6 5.2 6h2.27c.57 0 .96 0 1.26.02.29.03.44.07.54.13.25.12.46.33.58.58.06.1.1.25.13.54.02.3.02.7.02 1.26v2.27c0 .57 0 .96-.02 1.26-.03.3-.07.44-.13.55-.12.25-.33.45-.58.58-.1.05-.25.1-.54.12-.3.02-.7.02-1.26.02H5.2c-.57 0-.96 0-1.26-.02-.3-.03-.44-.07-.55-.12a1.33 1.33 0 0 1-.58-.58c-.05-.1-.1-.26-.12-.55-.02-.3-.02-.69-.02-1.26V8.53c0-.57 0-.96.02-1.26.03-.29.07-.44.12-.54.13-.25.33-.46.58-.58Z"
                                          fill="#868695"/>
                                </svg>
                            </td>
                        </tr>
                        {% for key, value in item.attributes %}
                            <tr>
                                <th>
                                    <span class="cell">
                                        <span class="attr-cell">{{ key }}</span>
                                    </span>
                                </th>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="item__buttons">
                        <a href="#item__tabs" class="description btn">Перейти к описанию
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none">
                                <path d="m4.25 9.5 3.39-3.39c.04-.04.06-.06.06-.08a.1.1 0 0 0 0-.06c0-.02-.02-.04-.06-.08L4.25 2.5"
                                      stroke="#A9A8B0" stroke-width="1.3" stroke-linecap="round"/>
                            </svg>
                        </a>

                        {% if item.stock > 0 %}
                            <button class="add-cart btn" type="button">
                                Добавить в корзину
                            </button>
                        {% else %}
                            <button class="add-cart stock btn" type="button">
                                Под заказ
                            </button>
                        {% endif %}
                    </div>
                    <div class="item-stock">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none">
                            <path d="M6.55.72c.29-.12.61-.12.9 0l4.93 2.08c.22.1.4.25.53.45a.59.59 0 0 0-.04.01L7 6.06l-5.87-2.8a.6.6 0 0 0-.04-.01c.12-.2.3-.36.53-.45L6.55.72Z"
                                  fill="#B9B9C1"/>
                            <path d="m13.05 4.48-.48 5.73c-.04.42-.3.78-.67.96l-4.4 2.07c-.32.15-.68.15-1 0l-4.4-2.07a1.17 1.17 0 0 1-.67-.96L.95 4.48 6.5 7.12c.32.15.68.15 1 0l5.55-2.64Z"
                                  fill="#B9B9C1"/>
                        </svg>
                        {% if item.stock > 0 %}
                            Есть в наличии
                        {% else %}
                            Под заказ
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="item__tabs" id="item__tabs">
        <div class="container">
            <div class="tabs">
                <div class="tabs__buttons">
                    <button class="tabs__btn active" data-tab="description">Описание</button>
                    <button class="tabs__btn" data-tab="composition">Состав</button>
                    <button class="tabs__btn" data-tab="usage">Применения</button>
                </div>
                <div class="tabs__content">
                    <div class="tabs__panel active" data-tab="description">
                        <p>{{ item.description|nl2br }}</p>
                    </div>
                    <div class="tabs__panel" data-tab="composition">
                        <p>{{ item.composition|nl2br }}</p>
                    </div>
                    <div class="tabs__panel" data-tab="usage">
                        <p>{{ item.howToUse|nl2br }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'template/front/section/scramble-items.html.twig' with {
        title: 'Похожие товары',
        items: similarItems
    } %}

{% endblock %}
